/* Error: expected "{".
 *    ,
 * 21 |         animation: sidemouv 0.3s;
 *    |                                 ^
 *    '
 *   sass\components\_greenside.scss 21:27  @import
 *   sass\styles.scss 11:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 21 \2502          animation: sidemouv 0.3s;\d\a    \2502                                  ^\a    \2575 \a   sass\\components\\_greenside.scss 21:27  @import\a   sass\\styles.scss 11:9                  root stylesheet';
}
