@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Shrikhand", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*couleur utilisé aussi pour le bg du logo*/
.btn {
  cursor: pointer;
  max-width: 250px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  padding: 10px 20px 10px;
  font-size: 17px;
  color: white;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.486);
  background: rgb(236, 115, 218);
  background: -moz-linear-gradient(163deg, rgb(236, 115, 218) 0%, rgb(156, 89, 220) 100%);
  background: -webkit-linear-gradient(163deg, rgb(236, 115, 218) 0%, rgb(156, 89, 220) 100%);
  background: linear-gradient(163deg, rgb(236, 115, 218) 0%, rgb(156, 89, 220) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec73da",endColorstr="#9c59dc",GradientType=1);
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0 5px 10px rgba(10, 10, 10, 0.486);
}

.container__restaurants--cards-text, .container_allmenu--top {
  position: relative;
}
.container__restaurants--cards-text i, .container_allmenu--top i {
  position: absolute;
  right: 30px;
}
.container__restaurants--cards-text .fa-solid, .container_allmenu--top .fa-solid {
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
}
.container__restaurants--cards-text .fa-solid:hover, .container_allmenu--top .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(rgb(194, 61, 194), pink);
  background-clip: text;
  -webkit-background-clip: text;
}

.container_menu--bloctext {
  overflow: hidden;
}
.container_menu--bloctext i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  color: #99e2d0;
  transition: all ease-in 0.3s;
  opacity: 0;
}
.container_menu--bloctext .greenside {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  width: 0px;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99e2d0;
  transition: all ease-in 0.3s;
}
.container_menu--bloctext .price {
  transition: all ease-in 0.3s;
}

.container_menu--bloctext:hover {
  position: relative;
}
.container_menu--bloctext:hover .greenside {
  width: 60px;
}
.container_menu--bloctext:hover .price {
  transform: translateX(-60px);
}
.container_menu--bloctext:hover i {
  opacity: 1;
}

nav {
  margin: 0 auto;
  padding: 25px 0 10px;
}
nav a img {
  width: 180px;
}

footer {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 25px 25px 25px;
  gap: 30px;
  background-color: #353535;
  color: white;
}
@media screen and (min-width: 991px) {
  footer {
    padding: 50px 30px 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10vw;
  }
}
footer h3 {
  display: flex;
  font-family: "Shrikhand";
  font-weight: 300;
  font-size: 22px;
}
@media screen and (min-width: 991px) {
  footer .footer_bloctext {
    display: flex;
    gap: 30px;
  }
}
footer .footer_bloctext .footer__proposition {
  display: flex;
  gap: 15px;
}
footer .footer_bloctext .footer__partenariat {
  display: flex;
  gap: 10px;
}
footer .footer_bloctext a {
  text-decoration: none;
  color: #eaeaea;
}

.loader {
  position: fixed;
  z-index: 1;
  background-color: white;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear 2s 3s forwards;
  transform-origin: top;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  80% {
    background-color: transparent;
  }
  100% {
    transform: scale(0);
    background-color: transparent;
  }
}
.letter {
  font-family: "Shrikhand";
  color: violet;
  font-size: 80px;
  letter-spacing: 15px;
  animation: neon 2s linear infinite;
}

@keyframes neon {
  0% {
    color: pink;
    text-shadow: 0 0 7px pink;
  }
  50% {
    font-size: 50px;
  }
  70% {
    color: rgb(182, 112, 182);
    text-shadow: none;
    font-size: 100px;
  }
  90% {
    font-size: 200px;
  }
  100% {
    color: pink;
    opacity: 0;
    text-shadow: 0 0 7px pink;
    font-size: 50px;
    background-color: transparent;
  }
}
.letter:nth-child(1) {
  animation-delay: 0.1s;
}

.letter:nth-child(2) {
  animation-delay: 0.2s;
}

.letter:nth-child(3) {
  animation-delay: 0.3s;
}

.letter:nth-child(4) {
  animation-delay: 0.4s;
}

.letter:nth-child(5) {
  animation-delay: 0.5s;
}

.letter:nth-child(6) {
  animation-delay: 0.6s;
}

.letter:nth-child(7) {
  animation-delay: 0.7s;
}

.letter:nth-child(8) {
  animation-delay: 0.8s;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .page__top {
  padding: 20px 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  background-color: #eaeaea;
  box-shadow: inset 0 4px 8px rgba(128, 128, 128, 0.486);
}
header .page__top i {
  color: #353535;
}
header .page__top p {
  font-family: "Roboto";
  font-weight: 500;
  color: #353535;
}
header .page__top--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 50px 0 80px;
  gap: 10px;
  background-color: #f6f6f6;
}
header .page__top--title h1 {
  font-size: 30px;
}
header .page__top--title p {
  display: flex;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
}

.container__all {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (min-width: 991px) {
  .container__all {
    padding: 0 20px 0;
  }
}

.container__functionning {
  background-color: #fff;
}
.container__functionning h2 {
  padding: 50px 20px 0;
  font-size: 26px;
}

.container__functionning--button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 40px;
  width: 100%;
  gap: 30px;
}
@media screen and (min-width: 991px) {
  .container__functionning--button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.container__functionning--button li {
  position: relative;
  padding: 30px 25px 30px;
  max-width: 400px;
  width: 100%;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 4px 8px rgba(128, 128, 128, 0.486);
}
.container__functionning--button li a {
  display: flex;
  align-items: center;
  gap: 25px;
}
.container__functionning--button li a p {
  display: flex;
  justify-content: center;
  color: black;
  font-family: "roboto";
  font-weight: 550;
  font-size: 18px;
}
.container__functionning--button li a i {
  padding-left: 15px;
  font-size: 20px;
  color: grey;
}
.container__functionning--button .functionning--button--number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  left: -10px;
  font-size: 13px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
}

.container__functionning--button li:hover {
  background: #f5edff;
}
.container__functionning--button li:hover i {
  color: #9356dc;
}

.container__restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  gap: 25px;
}
.container__restaurants h2 {
  padding: 50px 20px 5px;
  font-size: 26px;
}
.container__restaurants .container__restaurants--global {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 991px) {
  .container__restaurants .container__restaurants--global {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.container__restaurants .container__restaurants--global a {
  display: flex;
  justify-content: center;
  padding: 25px;
  width: 100%;
}
@media screen and (min-width: 991px) {
  .container__restaurants .container__restaurants--global a {
    width: 50%;
  }
}
.container__restaurants .container__restaurants--global .container__restaurants--cards {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(128, 128, 128, 0.486);
  gap: 15px;
}
@media screen and (min-width: 991px) {
  .container__restaurants .container__restaurants--global .container__restaurants--cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
.container__restaurants .container__restaurants--global .container__restaurants--cards img {
  max-height: 163px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.container__restaurants .container__restaurants--global .container__restaurants--cards .container__restaurants--cards-text {
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 5px 25px 20px;
  width: 100%;
}
.container__restaurants .container__restaurants--global .container__restaurants--cards .container__restaurants--cards-text h3 {
  font-size: 22px;
}
.container__restaurants .container__restaurants--global .container__restaurants--cards .container__restaurants--cards-text p {
  font-size: 20px;
}
.container__restaurants .container__restaurants--global .container__restaurants--cards .container__restaurants--cards-text i {
  font-size: 30px;
}
.container__restaurants .container__restaurants--global .container__restaurants--cards .container_restaurants--box-newtext {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px 17px 10px;
  border-radius: 5px;
  background-color: #99e2d0;
  color: #008766;
  font-family: "roboto";
  font-weight: 500;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
}
header nav i {
  color: #353535;
  font-size: 20px;
}
header nav a i {
  display: flex;
  position: absolute;
  left: 0;
  padding-left: 35px;
}

header img {
  width: 100%;
}

.img {
  object-fit: cover;
  max-height: 500px;
}

.main_pages {
  background-color: #eaeaea;
}
@media screen and (min-width: 991px) {
  .main_pages {
    display: flex;
    margin: auto;
    max-width: 1500px;
    width: 80%;
  }
}

.container_allmenu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  top: -34px;
  padding: 30px 20px 30px;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  background-color: #eaeaea;
  gap: 30px;
}
.container_allmenu .container_allmenu--top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container_allmenu .container_allmenu--top h2 {
  font-family: "Shrikhand";
  font-weight: 500;
  font-size: 25px;
}
.container_allmenu .container_allmenu--top i {
  right: 15px;
  font-size: 25px;
}
@media screen and (min-width: 991px) {
  .container_allmenu .container_allmenu--top {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 300px;
  }
}
@media screen and (max-width: 1250px) and (min-width: 991px) {
  .container_allmenu .container_allmenu--top h2 {
    width: 200px;
  }
}

.container_menu:nth-child(2) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 0.2s 1s ease-out forwards;
}
.container_menu:nth-child(2) .container_menu--bloc:nth-child(1) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 0.4s 1.2s ease-out forwards;
}
.container_menu:nth-child(2) .container_menu--bloc:nth-child(2) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 0.5s 1.3s ease-out forwards;
}
.container_menu:nth-child(2) .container_menu--bloc:nth-child(3) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 0.6s 1.4s ease-out forwards;
}
.container_menu:nth-child(2) .container_menu--bloc:nth-child(4) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 0.7s 1.5s ease-out forwards;
}

.container_menu:nth-child(3) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 0.8s 1.6s ease-out forwards;
}
.container_menu:nth-child(3) .container_menu--bloc:nth-child(1) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 0.9s 1.7s ease-out forwards;
}
.container_menu:nth-child(3) .container_menu--bloc:nth-child(2) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 1s 1.8s ease-out forwards;
}
.container_menu:nth-child(3) .container_menu--bloc:nth-child(3) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 1.1s 1.9s ease-out forwards;
}
.container_menu:nth-child(3) .container_menu--bloc:nth-child(4) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 1.2s 2s ease-out forwards;
}

.container_menu:nth-child(4) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 1.3s 2.1s ease-out forwards;
}
.container_menu:nth-child(4) .container_menu--bloc:nth-child(1) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 1.4s 2.2s ease-out forwards;
}
.container_menu:nth-child(4) .container_menu--bloc:nth-child(2) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 1.5s 2.3s ease-out forwards;
}
.container_menu:nth-child(4) .container_menu--bloc:nth-child(3) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 1.6s 2.4s ease-out forwards;
}
.container_menu:nth-child(4) .container_menu--bloc:nth-child(4) {
  opacity: 0;
  transform: translateY(-15px);
  animation: fadein 1.7s 2.5s ease-out forwards;
}

.container_menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}
@media screen and (min-width: 991px) {
  .container_menu {
    display: flex;
    margin: auto;
    width: 70%;
  }
}
.container_menu .container_menu--bloc {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.container_menu .container_menu--bloc h3 {
  font-family: "Roboto";
  width: 1.3cm;
  border-bottom: 3px solid #99e2d0;
}
.container_menu .container_menu--bloctext {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  border-radius: 20px;
  gap: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(128, 128, 128, 0.486);
}
.container_menu .container_menu--bloctext .container_pp {
  display: flex;
  flex-direction: column;
  width: 80%;
}
@media screen and (max-width: 336px) {
  .container_menu .container_menu--bloctext .container_pp p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.container_menu .container_menu--bloctext h4,
.container_menu .container_menu--bloctext p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.container_menu .container_menu--bloctext h4 {
  font-size: 17px;
}
.container_menu .container_menu--bloctext .price {
  padding-top: 20px;
  font-family: "roboto";
  font-weight: 700;
}
.container_menu .container_menu--bloctext:hover .container_pp {
  display: flex;
  flex-direction: column;
  width: calc(80% - 20px);
}

.bloc_button {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
