.container_menu--bloctext {
	overflow: hidden;

	i {
		display: none;
	}

	.greenside {
		display: flex;
		position: absolute;
		justify-content: center;
		align-items: center;
		right: 0;
		top: 0;
		width: 0px;
		height: 100%;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		background-color: #99e2d0;
<<<<<<< HEAD
		animation: sidemouv 0.3s;
	}

	
=======
		transition: all ease-in .3s;
	}

	.price {
		transition: all ease-in .3s;
	}
>>>>>>> d9470a8a1634b3f4aa7bcb08e2918fee092696df
}

.container_menu--bloctext:hover {
	position: relative;

	.greenside {
<<<<<<< HEAD
		visibility: visible;
		// animation: sidemouv 0.3s;
	}

	@keyframes sidemouv {
		0% {
			width: 0px;
		}

		100% {
			width: 60px;
		}
=======
		width: 60px;
>>>>>>> d9470a8a1634b3f4aa7bcb08e2918fee092696df
	}

	.price {
		transform: translateX(-60px);
	}

	i {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: white;
		color: #99e2d0;
	}
}