.container_menu--bloctext {
	overflow: hidden;

	i {
		display: none;
	}

	.greenside {
		display: flex;
		position: absolute;
		justify-content: center;
		align-items: center;
		right: 0;
		top: 0;
		width: 0px;
		height: 100%;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		background-color: #99e2d0;
		transition: all ease-in .3s;
	}

	.price {
		transition: all ease-in .3s;
	}
}

.container_menu--bloctext:hover {
	position: relative;

	.greenside {
		width: 60px;
	}

	.price {
		transform: translateX(-60px);
	}

	i {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background-color: white;
		color: #99e2d0;
	}
}