.container__restaurants--cards-text, .container_allmenu--top{
    position: relative;

    i{
        position: absolute;
        right: 30px;        
    }

    .fa-solid{
        opacity: 0;
        transition-property: all;
        transition-duration: 0.3s;
    }

    .fa-solid:hover {
        opacity: 1;
        color: transparent;
        background-image: linear-gradient(rgb(194, 61, 194), pink);
        background-clip: text;
        -webkit-background-clip: text;
    }
}