.btn {
    cursor: pointer;

    max-width: 250px;    
    width: 100%;
    height:50px ;    
        
    border-radius: 25px;
    border: none;
    padding:10px 20px 10px;
    font-size: 17px;
    color: white;
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.486);
    
    background: rgb(236,115,218);
    background: -moz-linear-gradient(163deg, rgba(236,115,218,1) 0%, rgba(156,89,220,1) 100%);
    background: -webkit-linear-gradient(163deg, rgba(236,115,218,1) 0%, rgba(156,89,220,1) 100%);
    background: linear-gradient(163deg, rgba(236,115,218,1) 0%, rgba(156,89,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec73da",endColorstr="#9c59dc",GradientType=1);
}
