header {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    .page__top {
        padding: 20px 0 20px;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        font-size: 20px;
        background-color: $clr-primary;
        
        box-shadow: inset 0 4px 8px rgba(128, 128, 128, 0.486);
        
        i {
            color: $clr-dark;
        }

        p {
            font-family: 'Roboto';
            font-weight: 500;
            color: $clr-dark;
            
        }
    }

    .page__top--title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        width: 100%;
        padding: 50px 0 80px;
        gap: 10px;
        background-color: $clr-menu;

        h1 {
            font-size: 30px;
        }

        p {
            display: flex;
            margin-bottom: 30px;
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 20px;
        }
    }
}

.container__all {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    @include desktop-only {
        padding: 0 20px 0;
    }
}

.container__functionning {
   background-color: #fff;

    h2 {
        padding: 50px 20px 0;
        font-size: 26px;
    }
}

.container__functionning--button {   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 40px;
    width: 100%;
    gap: 30px;

    @include desktop-only {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    li {
        position: relative;       
        padding: 30px 25px 30px;
        max-width: 400px;
        width: 100%;        
        border-radius: 20px;
        background-color: $clr-menu;
        box-shadow: 0 4px 8px rgba(128, 128, 128, 0.486);
        
        a {
            display: flex;            
            align-items: center;            
            gap: 25px;
           
            p {
                display: flex;
                justify-content: center;
                color: black;
                font-family: 'roboto';
                font-weight: 550;
                font-size: 18px;
            }

            i {  
                padding-left: 15px; 
                font-size: 20px;                             
                color: grey;
            }
        }
    }
    
    .functionning--button--number {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        width: 25px;
        height: 25px;
        left: -10px;
        font-size: 13px;
        border-radius: 50%;
        background-color: $clr-menu_number_icon;
        color: $clr-secondary;
    }
}

.container__functionning--button li:hover {
    background:$clr-menu_hover;

    i {
        color: $clr-menu_number_icon;
    }
}
    
.container__restaurants {
    display: flex;
    flex-direction: column;
    background-color: $clr-menu;
    gap: 25px;

    h2 {
        padding: 50px 20px 5px;
        font-size: 26px;
    }

    .container__restaurants--global {
        margin-bottom: 30px;
        
        display: flex;
        flex-direction: column;

        @include desktop-only {  
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;          
        }

        a {
            display: flex;
            justify-content: center;
            padding: 25px;
            width: 100%;

            @include desktop-only {
                width: 50%;
            }

        }  

        .container__restaurants--cards {
            display: flex;
            position: relative;
            flex-direction: column;
         
            width: 100%;
            border-radius: 25px;              
            background-color: $clr-secondary;
            box-shadow: 0 4px 8px rgba(128, 128, 128, 0.486);
            gap: 15px;  
            
            @include desktop-only {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
    
            img {
                max-height: 163px; 
                    
                width: 100%;
                object-fit: cover;
                border-top-right-radius: 25px;
                border-top-left-radius: 25px;
            }
    
            .container__restaurants--cards-text {
                display: flex;
                justify-content: space-between;
                color: black;
                padding: 5px 25px 20px;
                width: 100%;

                h3{
                    font-size: 22px;
                }

                p{
                    font-size: 20px;
                }
                 i{
                    font-size: 30px;
                 }
            }

            .container_restaurants--box-newtext {
                display: flex;
                position: absolute;
                top: 15px;
                right: 15px;            
                padding: 10px 17px 10px;

                border-radius: 5px;
                background-color: $clr-tertiary;  
                color: $clr-newbox_text;
                font-family: 'roboto';
                font-weight: 500;         
            }
            
        }
    }
}