header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;

    i {
        color: $clr-dark;
        font-size: 20px;
    }

    a i {
        
            display: flex;
            position: absolute;
            left: 0;
            padding-left: 35px;
        
    }
}

header img {
    width: 100%;
}

.img {
    object-fit: cover;
    max-height: 500px;
}

.main_pages {
    background-color: $clr-primary;

    @include desktop-only {
        display: flex;
        margin: auto;
        max-width: 1500px;
        width: 80%;
    }
    @include tab-only {
        display: flex;
        margin: auto;
        max-width: 1500px;
        width: 80%;
    }
}

.container_allmenu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;   
    top: -34px;
    padding: 30px 20px 30px;
    
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    background-color: $clr-primary;
    gap: 30px;

    .container_allmenu--top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;  
        
        h2 {
            font-family: 'Shrikhand';
            font-weight: 500;
            font-size: 25px;
        }

        i {
            margin-right: -20px;
            font-size: 25px;
        }

        @include desktop-only {
            display: flex;
            margin: auto;
            width: 30%;
            }
        @include tab-only {
            display: flex;
            margin: auto;
            width: 30%;
            }
        }
        
    }

    .container_menu:nth-child(2) {
        opacity: 0;
        transform: translateY(-15px);
        animation: fadein 0.2s 1s ease-out forwards; 

        .container_menu--bloc:nth-child(1) {
            opacity: 0;
            transform: translateY(-15px);
            animation: fadein 0.4s 1.2s ease-out forwards; 
        }
         
        .container_menu--bloc:nth-child(2) {
            opacity: 0;
            transform: translateY(-15px);
            animation: fadein 0.6s 1.4s ease-out forwards; 
        }

        .container_menu--bloc:nth-child(3) {
            opacity: 0;
            transform: translateY(-15px);
            animation: fadein 0.8s 1.6s ease-out forwards; 
        }
    }
    
    .container_menu:nth-child(3) {
        opacity: 0;
        transform: translateY(-15px);
        animation: fadein 1s 1.8s ease-out forwards; 

        .container_menu--bloc:nth-child(1) {
            opacity: 0;
            transform: translateY(-15px);
            animation: fadein 1.2s 2s ease-out forwards; 
        }
         
        .container_menu--bloc:nth-child(2) {
            opacity: 0;
            transform: translateY(-15px);
            animation: fadein 1.4s 2.2s ease-out forwards; 
        }

        .container_menu--bloc:nth-child(3) {
            opacity: 0;
            transform: translateY(-15px);
            animation: fadein 1.6s 2.4s ease-out forwards; 
        }
    }

    .container_menu:nth-child(4) {
        opacity: 0;
        transform: translateY(-15px);
        animation: fadein 1.8s 2.6s ease-out forwards; 

        .container_menu--bloc:nth-child(1) {
            opacity: 0;
            transform: translateY(-15px);
            animation: fadein 2s 2.8s ease-out forwards; 
        }
         
        .container_menu--bloc:nth-child(2) {
            opacity: 0;
            transform: translateY(-15px);
            animation: fadein 2.2s 3s ease-out forwards; 
        }

        .container_menu--bloc:nth-child(3) {
            opacity: 0;
            transform: translateY(-15px);
            animation: fadein 2.4s 3.2s ease-out forwards; 
        }
    }

    .container_menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 20px;

        
    @include desktop-only {
        display: flex;
        margin: auto;
        width: 70%;
        }
    @include tab-only {
        display: flex;
        margin: auto;
        width: 70%;
    }    

        .container_menu--bloc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;             

            h3 {      
                font-family: 'roboto';
                font-size: 300;          
                width: 1.3cm;
                border-bottom: 3px solid $clr-tertiary;
                ;   
            }
        }
        
        .container_menu--bloctext {
            cursor: pointer;           
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 10px;
            border-radius: 20px;
            gap: 5px;
            background-color: $clr-secondary; 
            box-shadow: 0 4px 8px rgba(128, 128, 128, 0.486);
            
            h4, p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                
                opacity: 0;
                transform: translateY(-15px);                
                animation: fadein 1s 1.5s ease-out forwards;   
            }

            @keyframes fadein{
               0%{
                opacity: 0;

               }
                100%{                               
                    opacity: 1;
                    transform: none;
                }
            }

            h4 {
                font-size: 17px;
            }
            
            .price {
                display: flex;
                position: absolute;
                right: 20px;
                bottom: 10px;
                font-family: 'roboto';
                font-weight: 700;
            }
        }
    }

.bloc_button {
    display: flex;
    justify-content: center;
}
