$breakpoint: (
  desktop: 991px,
  tab: 767px,
);

//Couleurs utilisées pour les pages, newboxs, checkbox
$clr-primary: #eaeaea;
$clr-secondary:white;

$clr-tertiary:#99e2d0;
$clr-newbox_text:#008766;

//Couleurs utilisées pour le menu
$clr-menu_number_icon:#9356dc;
$clr-menu:#f6f6f6; /*couleur utilisé aussi pour le bg du logo*/
$clr-menu_hover:#f5edff;


//Couleur bg de l'icône et du text de page_top et le footer
$clr-dark:#353535;
