footer {
	display: flex;
	position: relative;
	flex-direction: column;

	padding: 25px 25px 25px;
	gap: 30px;
	background-color: #353535;
	color: white;

	@include desktop-only {
		padding: 50px 30px 10px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		gap: 10vw;			
	}

	h3 {
		display: flex;

		font-family: 'Shrikhand';
		font-weight: 300;
		font-size: 22px;
	}

	.footer_bloctext {
		@include desktop-only{
			display: flex;
			gap: 30px;
		}

		.footer__proposition {
			display: flex;
			gap: 15px;
		}
	
		.footer__partenariat {
			display: flex;
			gap: 10px;
		}
	
		a {
			text-decoration: none;
			color: $clr-primary;
		}
	}
}