footer{
    display: flex;
    flex-direction: column;
    
    padding: 25px 25px 25px;
    gap: 10px;
    background-color:#353535;
    color: white;

    h3 {
        font-family: 'Shrikhand';
        font-weight: 300;
        font-size: 22px;
        padding-bottom: 15px;
    }

    .footer__proposition {
        display: flex;
        gap: 15px;
    }

    .footer__partenariat {
        display: flex;
        gap: 10px;
    }

    @include desktop-only {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding: 60px 60px 10px;
        
    }
}