header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    i {
        position: absolute;
        left: -55px;
        color: #353535;
        font-size: 20px;
    }
}

header img {
    width: 100%;
}

.img {
    object-fit: cover;
    max-height: 500px;
}

main {
    background-color: #eaeaea;
}

.container_allmenu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;   
    top: -34px;
    padding: 30px 20px 30px;
    
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    background-color: #eaeaea;
    gap: 30px;

    .container_allmenu--top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        position: static;
        
        h2 {
            font-family: 'Shrikhand';
            font-weight: 500;
            font-size: 25px;
        }

        i {
            font-size: 25px;
        }
    }
    
    .container_menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 20px;
                
        .container_menu--bloc {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;

            h3 {      
                font-family: 'roboto';
                font-size: 300;          
                width: 1.3cm;
                border-bottom: 3px solid #99e2d0;   
            }
        }
        
        .container_menu--bloctext {
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 10px;
            border-radius: 20px;
            gap: 5px;
            background-color: white; 
            box-shadow: 0 4px 8px rgba(128, 128, 128, 0.486);
            
            h4 {
                font-size: 17px;
            }
            
            .price {
                display: flex;
                position: absolute;
                right: 20px;
                bottom: 10px;
                font-family: 'roboto';
                font-weight: 700;
            }
        }
    }
}

.bloc_button {
    display: flex;
    justify-content: center;
}
